<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.moul.gauth</string>
	<key>connections</key>
	<dict>
		<key>1086994E-3BDA-4202-8551-27D286CC5E7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C87E9F8-DFE4-4A19-AE02-F468FE5DA32B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E8EDF7D-46DC-4CB7-81E9-C495C27A31D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBE66B7E-A102-4C7D-8E1E-FFC0D86ADF1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BEE3C7D-A99B-42F8-BCB9-BC625434942E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D4FBD76-2AC8-4B24-A980-15CEA567F80A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C63FAC47-27A4-4235-9442-EE125B79C774</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D28AB140-ED93-4395-AD40-4A240B9BDD8D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy {query} to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C69FA9F-6875-40F5-ADFB-CD20428410A0</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Large Type {query}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86EB05CF-7A00-48EC-849C-683BA0CBFFB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D95A4B41-38EA-4599-B7D2-7B3605A3C28C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D4FBD76-2AC8-4B24-A980-15CEA567F80A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E8EDF7D-46DC-4CB7-81E9-C495C27A31D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C63FAC47-27A4-4235-9442-EE125B79C774</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1086994E-3BDA-4202-8551-27D286CC5E7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>79DB21CE-47D6-4E82-A3CD-0D7FA7830C54</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>86EB05CF-7A00-48EC-849C-683BA0CBFFB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D28AB140-ED93-4395-AD40-4A240B9BDD8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C74DB286-B179-49BB-947D-91B3706ADB20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D95A4B41-38EA-4599-B7D2-7B3605A3C28C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB032E32-5D7F-4C87-B5FA-F47C136A48E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Manfred Touron</string>
	<key>description</key>
	<string>Google Authenticator Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Authenticator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1086994E-3BDA-4202-8551-27D286CC5E7A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Verification code ({query}) has been written at the Cursor</string>
				<key>title</key>
				<string>Google Authenticator</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9C87E9F8-DFE4-4A19-AE02-F468FE5DA32B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^[\d]{6}$</string>
						<key>outputlabel</key>
						<string>TOTP Code</string>
						<key>uid</key>
						<string>79DB21CE-47D6-4E82-A3CD-0D7FA7830C54</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Next Command</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C63FAC47-27A4-4235-9442-EE125B79C774</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification_data2}</string>
				<key>title</key>
				<string>{var:notification_data1}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BB032E32-5D7F-4C87-B5FA-F47C136A48E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python3 workflow.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86EB05CF-7A00-48EC-849C-683BA0CBFFB3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>|</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>notification_data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>D95A4B41-38EA-4599-B7D2-7B3605A3C28C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>gauth</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>python3 workflow.py search_by_account "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Account</string>
				<key>title</key>
				<string>Google Authenticator</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Verification code ({query}) has been copied to the clipboard</string>
				<key>title</key>
				<string>Google Authenticator</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C74DB286-B179-49BB-947D-91B3706ADB20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D28AB140-ED93-4395-AD40-4A240B9BDD8D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string></string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>0C69FA9F-6875-40F5-ADFB-CD20428410A0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gauth add</string>
				<key>subtext</key>
				<string>Account name, secret</string>
				<key>text</key>
				<string>Add a new secret</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7BEE3C7D-A99B-42F8-BCB9-BC625434942E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python3 workflow.py add_account "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8D4FBD76-2AC8-4B24-A980-15CEA567F80A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification_data2}</string>
				<key>title</key>
				<string>{var:notification_data1}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EBE66B7E-A102-4C7D-8E1E-FFC0D86ADF1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>|</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>notification_data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>5E8EDF7D-46DC-4CB7-81E9-C495C27A31D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Description
———————————
Equivalent of the mobile versions of Google Authenticator: https://itunes.apple.com/en/app/google-authenticator/id388497605?mt=8.

System Modifications
————————————————————
Create a ~/.gauth file with your secrets, ie:
[google - bob@gmail.com]
secret = xxxxxxxxxxxxxxxxxx

[evernote - robert]
secret = yyyyyyyyyyyyyyyyyy
Source Code: Github
https://github.com/m...-workflow-gauth

Links
—————
- Packal: http://www.packal.org/workflow/gauth-google-authenticator
- Direct Download: https://github.com/packal/repository/raw/master/com.alfredapp.moul.gauth/google_authenticator.alfredworkflow
- Official Forum Post: http://www.alfredforum.com/topic/4062-gauth-google-authenticator-time-based-two-factor-authentication/
- Github: https://github.com/moul/alfred-workflow-gauth/

Acknowledgments
——————————————-
- Original alarm clock icon
  - Alex Auda Samora from The Noun Project
  - Licensed under Creative Commons Attribution
- Status &amp; signs icons
  - Hereldar Terkenya
  - Licensed under a Creative Commons Attribution-Share Alike 3.0 License
- Original source code
  - Manfred Touron
- Serial contributor
  - Gilberto Olimpio</string>
	<key>uidata</key>
	<dict>
		<key>0C69FA9F-6875-40F5-ADFB-CD20428410A0</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>1086994E-3BDA-4202-8551-27D286CC5E7A</key>
		<dict>
			<key>note</key>
			<string>Paste TOTP Code to Frontmost App</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>5E8EDF7D-46DC-4CB7-81E9-C495C27A31D8</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>7BEE3C7D-A99B-42F8-BCB9-BC625434942E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>86EB05CF-7A00-48EC-849C-683BA0CBFFB3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Execute a command</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>8D4FBD76-2AC8-4B24-A980-15CEA567F80A</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>9C87E9F8-DFE4-4A19-AE02-F468FE5DA32B</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>BB032E32-5D7F-4C87-B5FA-F47C136A48E6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Show command execution results</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>C63FAC47-27A4-4235-9442-EE125B79C774</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>C74DB286-B179-49BB-947D-91B3706ADB20</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>D28AB140-ED93-4395-AD40-4A240B9BDD8D</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>D95A4B41-38EA-4599-B7D2-7B3605A3C28C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>EBE66B7E-A102-4C7D-8E1E-FFC0D86ADF1F</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/moul/alfred-workflow-gauth</string>
</dict>
</plist>
